<!doctype html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>1</title>
  <link rel="stylesheet" href="css//bootstrap.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link href="css/styles.css" rel="stylesheet">
  <script src="js/vue.js"></script>
</head>

<body>
  <div class="wrapper">
    <div class="sample">
      <form v-if="!formSubmited" @submit.prevent="formSubmited=true">
        <div class="progress">
          <div class="progress-bar" :style="progressBarWidth"></div>
        </div>
        <div>
          <div class="form-group" v-for="(item, index) in info" :key="index">
            <label>{{ item.name }}</label>
            <span class="fa" v-if="controls[index].activated" :class="controls[index].error?
            'fa-exclamation-circle text-danger':
            'fa-check-circle text-success'

            "></span>
            {{ countValid }}
            <input type="text" class="form-control" @input="onInput(index, $event.target.value)" :value="item.value">
          </div>
        </div>
        <button class="btn btn-primary" :disabled="countValid <  this.info.length">
          Send Data
        </button>
      </form>
      <div v-else>
        <table class="table table-bordered">
          <tr v-for="(item, index) in info" :key="index">
            <td>{{ item.name }}</td>
            <td>{{ item.value }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <script>
    new Vue({
      el: '.sample',
      data: {
        formSubmited: false,
        info: [{
            name: 'Name',
            value: '',
            pattern: /^[a-zA-Z ]{2,30}$/
          },
          {
            name: 'Phone',
            value: '',
            pattern: /^[0-9]{7,14}$/
          },
          {
            name: 'Email',
            value: '',
            pattern: /.+/
          },
          {
            name: 'Some Field 1',
            value: '',
            pattern: /.+/
          },
          {
            name: 'Some Field 2',
            value: '',
            pattern: /.+/
          }
        ],
        controls: []
      },
      created() {
        for (let i = 0; i < this.info.length; i++) {
          this.controls.push({

            activated: this.info[i].value != '',
            error: !this.info[i].pattern.test(this.info[i].value)


          })
        }
      },
      computed: {
        countValid() {
          let count = 0;
          for (let i = 0; i < this.controls.length; i++) {
            if (!this.controls[i].error) {
              count++;
            }
          }
          console.log(count);

          return count
        },
        progressBarWidth() {
          return {
            width: this.countValid / this.info.length * 100 + '%'
          }
        }
      },
      methods: {
        onInput(index, value) {

          this.controls[index].activated = true;
          this.info[index].value = value;
          this.controls[index].error = !this.info[index].pattern.test(value);

        }
      }
    });
  </script>
</body>

</html>
